{% extends "base.html.twig" %}

{% block title %}
    Accueil
{% endblock %}
{% block body %}
<h1>Plantarium</h1>

<main>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Role</th>
            <th>Nom complet</th>
            <th>Niveau</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.email}}</td>
            <td>{{ user.roles|join(', ') }}</td>
            <td>{{ user.UserInfos.getFullName() }}</td>
            <td>{{ user.UserInfos.getLevel() }}</td>
            <td><img src="{{ vich_uploader_asset(user.UserInfos.getImageName, 'Image') }}" alt="{{ user.UserInfos.getImageName }}" loading="lazy" class="rounded"></td>
            <td><a href="{{ path('admin.users.edit', {id: user.id}) }}">Modifier</a></td>
            <td>
            <form 
                    action="{{path('admin.users.delete', {id: user.id}) }}" 
                    method="POST" 
                    onsubmit="return confirm('Êtes-vous certain de vouloir supprimer cet utilisateur? Cette action est irréversible')"
                    enctype="multipart/form-data">
                    <input type="hidden" name="token" value="{{ csrf_token('delete'~ user.id) }}">
                    <button type="submit">Supprimer</button>
            </form></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</main>

{% endblock %}