{% extends "base.html.twig" %}

{% block title %}
    inscription
{{ parent() }}
{% endblock %}
{% block body %}
<body class="inscription">
    

<nav>   
<h1>Inscription</h1>
</nav>
    <main>
    <div>
    {{form_start(form)}}
    {{form_widget(form)}}
        <div>
              <button type="submit">Valider</button>
        </div>
    {{form_end(form)}}
    </div>
    </main>

        {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

</body>
{% endblock %}