{% extends "base.html.twig" %}

{% block title %}
    Administration des champs
    {{ parent() }}
{% endblock %}

{% block body %}
<h1>Plantarium</h1>
<h2>Administration des champs</h2>
<div>
    <a href="{{ path('editor.plants.field.specie.new') }}">Ajouter une espèce de plante</a>
    <a href="{{ path('editor.plants.field.family.new') }}">Ajouter une famille de plante</a>
    <a href="{{ path('editor.plants.field.color.new') }}">Ajouter une couleur de plante</a>
</div>
<main>
    <table>
        <thead>
            <tr>
                <th>Espèce</th>
                <th>Famille</th>
                <th>Couleurs</th>
            </tr>
        </thead>
        <tbody>
            {% for plant in plants %}
                <tr>
                    <td>
                        <li>{{ plant.species.name }}
                            <a href="{{ path('editor.plants.field.specie.edit', {'name': plant.species.name}) }}">Modifier une espèce</a>
                        </li>
                    </td>
                    <td>
                        <li>{{ plant.families.name }}
                            <a href="{{ path('editor.plants.field.family.edit', {'name': plant.families.name}) }}">Modifier une famille</a>
                        </li>
                    </td>
                    <td>
                        {% for color in plant.colors %}
                            <li>{{ color.name }}
                                <a href="{{ path('editor.plants.field.color.edit', {'name': color.name}) }}">Modifier une couleur</a>
                            </li>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

<footer>
    <a href="{{ path('editor.plants.index') }}">Retourner à l'administration des plantes</a>
</footer>

{% endblock %}