{% extends "base.html.twig" %}

{% block title %}
    Administration des champs
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="headerMain">
<h1>Plantarium</h1>
<h2>Administration des champs</h2>
    <p>
    <a href="{{ path('editor.plants.index') }}"><button class="button">Retourner à l'administration des plantes</button></a>
    </p>

<div>
    <a href="{{ path('editor.plants.field.specie.new') }}"><button class="tagsButton">Ajouter une espèce de plante</button></a>
    <a href="{{ path('editor.plants.field.family.new') }}"><button class="tagsButton">Ajouter une famille de plante</button></a>
    <a href="{{ path('editor.plants.field.color.new') }}"><button class="tagsButton">Ajouter une couleur de plante</button></a>
</div>
</div>
<main>
    <table>
        <thead>
            <tr>
                <th>Espèce</th>
                <th>Famille</th>
                <th>Couleurs</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul>
                        {% for specie in species %}
                            <li>{{ specie.name }}
                                <a href="{{ path('editor.plants.field.specie.edit', {'name': specie.name}) }}"><button class="modifyButton">Modifier une espèce</button></a>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for family in families %}
                            <li>{{ family.name }}
                                <a href="{{ path('editor.plants.field.family.edit', {'name': family.name}) }}"><button class="modifyButton">Modifier une famille</button></a>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for color in colors %}
                            <li>{{ color.name }}
                                <a href="{{ path('editor.plants.field.color.edit', {'name': color.name}) }}"><button class="modifyButton">Modifier une couleur</button></a>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</main>

{% endblock %}