{% extends "base.html.twig" %}

{% block title %}
Administration des plantes
{{ parent() }}
{% endblock %}
{% block body %}
<h1>Plantarium</h1>
<h2>Administration des plantes</h2>

<main>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Image</th>
                <th>Visible</th>
                <th>Photo</th>
                <th>Couleurs</th>
                <th>Saisons</th>
                <th>Famille</th>
                <th>Espèce</th>
                <th>Couleurs</th>
                <th>Catégorie</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            {% for plant in plants %}
            <tr>
                <td>{{ plant.id }}</td>
                <td>{{ plant.Name }}</td>
                <td>{{ plant.description }}</td>
                <td><img src="{{ vich_uploader_asset( plant, 'image') }}" alt="{{ plant.name }}" loading="lazy"
                        class="rounded" width="50px" height="50px"></td>
                <td>{{ plant.Colors.name() }}</td>
                <td>{{ plant.Seasons.getName() }}</td>
                <td>{{ plant.Families.Name }}</td>
                <td>{{ plant.Species.Name }}</td>
                <td>{{ plant.Categories.getName() }}</td>
                

                {# <td><a href="{{ path('admin.users.edit', {id: user.id}) }}">Modifier</a></td>
            <td>
            <form 
                    action="{{path('admin.users.delete', {id: user.id}) }}" 
                    method="POST" 
                    onsubmit="return confirm('Êtes-vous certain de vouloir supprimer cette plante? Cette action est irréversible')"
                    enctype="multipart/form-data">
                    <input type="hidden" name="token" value="{{ csrf_token('delete'~ user.id) }}">
                    <button type="submit">Supprimer</button>
            </form> #}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock %}