{% extends 'base.html.twig' %}

{% block title %}
    Détail de la plante
    {{ parent() }}
{% endblock %}

{% block body %}

<span class="return">
    <a href="{{ path('users.plantarium') }}"><img src="{{ asset('images/components/cross.svg') }}" alt="Retour arrière"></a>
</span>

<div class="plantCard">
    <div class="plantHeader">
        <h2>Plante : {{ plant.Name }}</h2>
        <h3>Espèce: {{ plant.species.Name }}</h3>
    </div>

    <div class="plantPic">
        <img src="{{ vich_uploader_asset(plant, 'image') }}" alt="{{ plant.name }}">
    </div>
    <div class="plantInfos">
        <p>Description:</p>
        <p>{{ plant.Description }}</p>

        <p>Famille: {{ plant.families.Name }}</p>
        <p>Espèce: {{ plant.species.Name }}</p>

        <div class="categFields">
            <div class="categUnit">
                <div>Statut de la plante:</div>
                {% if plantdetail.HealthStatus %}
                    <div class="categComponent">{{ plantdetail.HealthStatus.Name }}</div>
                    <p>Description du statut: {{ plantdetail.HealthStatus.Description }}</p>
                {% else %}
                    <p>Aucun statut de santé disponible.</p>
                {% endif %}
            </div>

            <div class="categUnit">
                <div>Maladies associées:</div>
                {% if plantdetail.HealthStatus and plantdetail.HealthStatus.Diseases %}
                    <div class="categComponent">{{ plantdetail.HealthStatus.Diseases.Name }}</div>
                    <p>Description de la maladie: {{ plantdetail.HealthStatus.Diseases.Description }}</p>
                {% else %}
                    <p>Aucune maladie associée.</p>
                {% endif %}
            </div>

            <div class="categUnit">
                <div>Journal:</div>
                {% if plantdetail.Journal %}
                    <p>{{ plantdetail.Journal }}</p>
                {% else %}
                    <p>Aucun journal disponible.</p>
                {% endif %}
            </div>

            <div class="categUnit">
                <div>Catégorie(s):</div>
                {% for category in plant.categories %}
                <div class="categComponent">{{ category.Name }}</div>
                {% endfor %}
            </div>

            <div class="categUnit">
                Saisonalité:
                {% for season in plant.seasons %}
                <div class="categComponent">{{ season.Name }}</div>
                {% endfor %}
            </div>

            <div class="categUnit">
                Arrosage
                {# {% for color in plant.colors %}
                <div class="categComponent">{{ color.Name }}</div>
                {% endfor %} #}
            </div>

            <div class="categUnit">
                Couleurs:
                {% for color in plant.colors %}
                <div class="categComponent">{{ color.Name }}</div>
                {% endfor %}
            </div>
        </div>
        <a href="{{ path('userPlants.details.edit', {name: plant.Name, id: plantdetail.id}) }}">Modifier</a>
    </div>
</div>
{% endblock %}