<footer>
    <div class="footerUnit">
        <ul>
            <li><a href="{{ path('footer_contact') }}">Nous contacter</a></li>
            <li><a href="{{ path('footer_mentions_legales') }}">Mentions légales</a></li>
        </ul>
    </div>

    <div class="footerUnit">
        <ul>
            <li><a href="{{ path('footer_copyright') }}">Copyright</a></li>
        </ul>
    </div>

    <div class="footerUnit">
        <ul>
            <li><a href="{{ path('footer_credits') }}">Crédits</a></li>
            <li><a href="{{ path('footer_conditions_generales') }}">Conditions générales</a></li>
        </ul>
    </div>
</footer>
