<header>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    {% if is_granted('ROLE_ADMIN') %}
    <div>
        <ul>
            <li><a href="{{ path('admin.users.index') }}">Administration des utilisateurs</a></li>
            <img src="/PlantariumApp/public/images/background/tabler_hexagon-letter-a.png" alt="">
            <li><a href="{{ path('editor.plants.index') }}">Administration des plantes</a></li>
        </ul>
    </div>
    {% endif %}

    {% if is_granted('ROLE_EDITOR') %}
    <div>
        <ul>
            <li><a href="{{ path('editor.plants.index') }}">Administration des plantes</a></li>
        </ul>
    </div>
    {% endif %}
    <ul>
        <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
    </ul>

    {% else %}
    <ul class="registerLogin" id="registerLogin">
    <li><a href="{{ path('app.inscription') }}">S'inscrire</a></li>
    <li><a href="{{ path('app.connexion') }}">Se connecter</a></li>

    {% endif %}
    </ul>
    
</header>